@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

/*------------------
      GLOBAL
------------------*/

:root {
    --main-color: #0e7a8e;
}

body {
    font-family: "Raleway", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--main-color);
}

.center {
    display: grid;
    place-items: center;
}

/* Night mode */

/*
body {
    background-color: black;
}
p, h1, h2, h3 {
    color: white;
}
*/

/*------------------
      SECTION
------------------*/

.section {
    height: 100vh;
    scroll-snap-align: start;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column;
}

@media only screen and (max-width: 1000px) {
    .section {
        height: auto;
    }
}

@media screen and (min-width: 1000px) {
    .scroll-snapper {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        height: 100vh;
    }
}

.section-title {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    text-align: center;
}

/*
.section-title:after {
    content:' ';
    display:block;
    border:2px solid #0c869b;
}
*/

.section-subtitle {
    padding: 0px 10px;
}

.section-body {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.plot-container {
    height: 100%;
    width: 100%;
    max-height: 100vh;
}

/*------------------
      GRIDS
------------------*/

/*

Notation:

cols-x means "x equal size columns"

mob-cols-x means "x equal size columns on mobile"

tab-cols-x means "x equal size columns on tablet"

desk-cols-x means "x equal size columns on desktop"

cols-a-b means "two columns with a:b ratio"

etc

*/

.grid {
    display: grid;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    /*
    min-height: 0;
    min-width: 0;  
    */
}

.cols-2-1 { grid-template-columns: 2fr 1fr; }
.rows-2-1 { grid-template-rows: 2fr 1fr; }

.cols-1 { grid-template-columns: repeat(1, 1fr); }
.cols-2 { grid-template-columns: repeat(2, 1fr); }
.cols-3 { grid-template-columns: repeat(3, 1fr); }

.rows-1 { grid-template-rows: repeat(1, 1fr); }
.rows-2 { grid-template-rows: repeat(2, 1fr); }
.rows-3 { grid-template-rows: repeat(3, 1fr); }

@media only screen and (max-width: 700px) {
    .mob-cols-1 { grid-template-columns: repeat(1, 1fr); }
    .mob-cols-2 { grid-template-columns: repeat(2, 1fr); }
    .mob-cols-3 { grid-template-columns: repeat(3, 1fr); }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .tab-cols-1 { grid-template-columns: repeat(1, 1fr); }
    .tab-cols-2 { grid-template-columns: repeat(2, 1fr); }
    .tab-cols-3 { grid-template-columns: repeat(3, 1fr); }
    .tab-cols-2-1 { grid-template-columns: 2fr 1fr; }
    .tab-span-2-cols { grid-column: span 2; }
}

@media only screen and (min-width: 1000px) {
    .desk-rows-2-1 { grid-template-rows: 2fr 1fr; }
    .desk-rows-2 { grid-template-rows: repeat(2, 1fr); }
    .desk-cols-2-1 { grid-template-columns: 2fr 1fr; }
    .desk-cols-1 { grid-template-columns: repeat(1, 1fr); }
    .desk-cols-2 { grid-template-columns: repeat(2, 1fr); }
    .desk-cols-3 { grid-template-columns: repeat(3, 1fr); }
    .desk-span-2-cols { grid-column: span 2; }
}


/*------------------
      TITLE
------------------*/

.effective {
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 700;
}

.altruism {
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 400;
}

.ea-data-dot-com    { display: grid; }
.effective-altruism { display: grid; }
.data-dot-com       { display: grid; }

.lightbulb          { grid-column: 1; }
.effective-altruism { grid-column: 2; }
.data-dot-com       { grid-column: 3; }

.effective { grid-column: 1; }
.altruism  { grid-column: 2; }
.data      { grid-column: 1; }
.dot-com   { grid-column: 2; }

.lightbulb {
    height: 60px;
    padding: 0 10px;
}

@media only screen and (max-width: 700px) {
    .lightbulb          { grid-column: 1; }
    .effective-altruism { grid-column: 1; }
    .data-dot-com       { grid-column: 1; }
    .lightbulb { height: 120px; }
}


@media only screen and (max-width: 400px) {
    .effective { grid-column: 1; }
    .altruism  { grid-column: 1; }
    .data      { grid-column: 1; }
    .dot-com   { grid-column: 1; }
}

@media only screen and (max-width: 1000px) {
    .ea-data-dot-com { margin-top: 75px; }
}

@media only screen and (max-width: 700px) {
    .ea-data-dot-com { margin-top: 25px; }
}
