@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

/*------------------
      GLOBAL
------------------*/

:root {
    --ea-color: #0e7a8e;
    --alt-ea-color: #46b6ca;
    --header-content-height: 2.5rem;
    --header-padding: 20px;
    --header-height: calc(var(--header-content-height) + 2*var(--header-padding));
    --body-height: calc(100vh - var(--header-height));
    --sidebar-width: 300px;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a {
    color: var(--ea-color);
}

a:hover {
    color: var(--alt-ea-color);
}

.center {
    display: grid;
    place-items: center;
}

div {
    background-color: white;
}

.modebar {
    background-color: rgba(0, 0, 0, 0);
}

p, h1, h2, h3, h4 {
    color: black;
}


.nightmode {
    filter: invert() hue-rotate(180deg) brightness(100%) contrast(105%);
}

/*------------------
      HEADER
------------------*/

.header {
    height: var(--header-height);
    display: flex;
    padding: var(--header-padding);
}

.clickable-icon {
    padding: 8px 8px;
    border-radius: 50%;
}

.clickable-icon:hover {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

/* the hover-y circle is too faint in night mode */
.nightmode .clickable-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.right-icons {
    margin-left: auto;
    display: flex;
}

.header .icon {
    height: var(--header-content-height);
    width: var(--header-content-height);
}

.effective {
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 700;
}

.altruism {
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 400;
}

.header h1 {
    font-size: var(--header-content-height);
    margin: 0;
    padding-left: 10px;
}


.short-title {
    display: none;
    padding-left: 10px;
}

.long-title {
    display: block;
}

@media only screen and (max-width: 700px) {

    .short-title {
        display: block;
    }

    .long-title {
        display: none;
    }

}

@media only screen and (max-width: 300px) {

    .short-title {
        display: none;
    }

    .long-title {
        display: none;
    }

}

/*------------------
       BODY
------------------*/

.body {
    height: var(--body-height);
    display: flex;
}


/*------------------
     SIDEBAR
------------------*/
 
#sidebar {
    width: var(--sidebar-width);
    height: var(--body-height);
    overflow: scroll;
    padding: 30px;
    padding-right: 10px;
    z-index:100;
    position: absolute;
    background-color: white;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    line-height: 1.7rem
}

#sidebar-buttress {
    width: var(--sidebar-width);
    height: var(--body-height);
    display: block;
}

/* The sidebar is visible by default on desktop but hidden by default on mobile.  */

@media only screen and (min-width: 800px) {

    #sidebar.toggled { 
        transform: translate(-100%);
    }

    #sidebar-buttress.toggled {
        display: none;
    }

}

@media only screen and (max-width: 800px) {

    #sidebar { 
        transform: translate(-100%);
    }

    #sidebar-buttress {
        display: none;
    }

    #sidebar.toggled { 
        transform: translate(0%);
    }

    #sidebar-buttress.toggled {
        display: block;
    }

}
/*------------------
     ABOUT BOX
------------------*/
 
/* reduce padding around "contents" */
#about-box h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

#about-box {
    width: var(--sidebar-width);
    height: var(--body-height);
    right: 0px;
    overflow: scroll;
    padding: 30px;
    z-index: 99;
    background-color: white;
    position: absolute;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
}

#about-box.hidden { 
    transform: translate(100%);
}

/*------------------
      CONTENT
------------------*/

.content {
    height: var(--body-height);
    width: 100%;
    overflow: scroll;
    padding: 30px;
}

@media only screen and (max-width: 700px) {
    .content {
        position: absolute;
        left: 0;
    }
}

.section {
    height: var(--body-height);
    scroll-snap-align: start;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

@media only screen and (max-width: 1000px) {
    .section {
        height: auto;
    }
}

@media screen and (min-width: 1000px) {
    .scroll-snapper {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        height: var(--body-height);
    }
}

.section-body {
    flex: 1;
    padding: 20px;
}

.plot-container {
    height: 100%;
    width: 100%;
    max-height: 100vh;
}

/*------------------
      GRIDS
------------------*/

/*

Notation:

cols-x means "x equal size columns"

mob-cols-x means "x equal size columns on mobile"

tab-cols-x means "x equal size columns on tablet"

desk-cols-x means "x equal size columns on desktop"

cols-a-b means "two columns with a:b ratio"

etc

*/

.grid {
    display: grid;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    /*
    min-height: 0;
    min-width: 0;  
    */
}

.cols-2-1 { grid-template-columns: 2fr 1fr; }
.rows-2-1 { grid-template-rows: 2fr 1fr; }

.cols-1 { grid-template-columns: repeat(1, 1fr); }
.cols-2 { grid-template-columns: repeat(2, 1fr); }
.cols-3 { grid-template-columns: repeat(3, 1fr); }

.rows-1 { grid-template-rows: repeat(1, 1fr); }
.rows-2 { grid-template-rows: repeat(2, 1fr); }
.rows-3 { grid-template-rows: repeat(3, 1fr); }

@media only screen and (max-width: 700px) {
    .mob-cols-1 { grid-template-columns: repeat(1, 1fr); }
    .mob-cols-2 { grid-template-columns: repeat(2, 1fr); }
    .mob-cols-3 { grid-template-columns: repeat(3, 1fr); }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .tab-cols-1 { grid-template-columns: repeat(1, 1fr); }
    .tab-cols-2 { grid-template-columns: repeat(2, 1fr); }
    .tab-cols-3 { grid-template-columns: repeat(3, 1fr); }
    .tab-cols-2-1 { grid-template-columns: 2fr 1fr; }
    .tab-span-2-cols { grid-column: span 2; }
}

@media only screen and (min-width: 1000px) {
    .desk-rows-2-1 { grid-template-rows: 2fr 1fr; }
    .desk-rows-2 { grid-template-rows: repeat(2, 1fr); }
    .desk-cols-2-1 { grid-template-columns: 2fr 1fr; }
    .desk-cols-1 { grid-template-columns: repeat(1, 1fr); }
    .desk-cols-2 { grid-template-columns: repeat(2, 1fr); }
    .desk-cols-3 { grid-template-columns: repeat(3, 1fr); }
    .desk-span-2-cols { grid-column: span 2; }
}


