@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.demo-column {
/*    width: 20%; */
    float: left;
/*    padding: 1%; */
/*    height: 100%; */
}

.floaty-boi {
    float: left;
    padding: 10px;
    height: 100%;
}

.big-box {
    height: 80vh
}

.section-heading {
    width: 100%;
    height: 20vh;
    font-family: RaleWay;
    text-align: center;
}

.section-heading:after
{
    content:' ';
    display:block;
    border:2px solid #0c869b;
}
